name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Script
      run: |
        sudo apt-get install xmlstarlet
        CPP_PACKAGE_NUSPEC_PATH="Platform.Exceptions.TemplateLibrary.nuspec"
        echo "$CPP_PACKAGE_NUSPEC_PATH"
        echo "$CPP_PACKAGE_NUSPEC_PATH" > CPP_PACKAGE_NUSPEC_PATH.txt
        ls "$CPP_PACKAGE_NUSPEC_PATH"
        CPP_PACKAGE_VERSION=$(grep -Pzo "<version>[^<>]+</version>" "$CPP_PACKAGE_NUSPEC_PATH" | sed -ern '{N; s/<[a-zA-Z]+>((\n|.)+)</[a-zA-Z]+>/\1/{=;p} ; D}')
        echo "$CPP_PACKAGE_VERSION"
