name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Script
      run: |
        sudo apt-get install xmlstarlet
        CPP_PACKAGE_NUSPEC_PATH="Platform.Exceptions.TemplateLibrary.nuspec"
        echo "$CPP_PACKAGE_NUSPEC_PATH"
        echo "$CPP_PACKAGE_NUSPEC_PATH" > CPP_PACKAGE_NUSPEC_PATH.txt
        CPP_PACKAGE_VERSION=$(xmlstarlet sel -t -m '/package/metadata/version' -v . -n <"$CPP_PACKAGE_NUSPEC_PATH")
        echo "$CPP_PACKAGE_VERSION"
